--exclude **/**.pb.swift
--exclude **/Generated/**
--exclude **/*.generated.swift
--swiftversion 6.0

--wraparguments before-first
--wrapparameters before-first
--wrapconditions before-first
--wraptypealiases before-first
--propertytypes inferred
--commas inline

--enable andOperator
--enable anyObjectProtocol
--enable applicationMain
--enable assertionFailures
--enable blankLineAfterImports
--enable blankLinesAtEndOfScope
--enable blankLinesAtStartOfScope
--enable blankLinesBetweenChainedFunctions
--enable blankLinesBetweenImports
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable consistentSwitchCaseSpacing
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable enumNamespaces
--enable extensionAccessControl
--enable fileHeader
--enable headerFileName
--enable genericExtensions
--enable hoistAwait
--enable hoistPatternLet
--enable hoistTry
--enable indent
--enable initCoderUnavailable
--enable isEmpty
--enable leadingDelimiters
--enable linebreakAtEndOfFile
--enable linebreaks
--enable modifierOrder
--enable noExplicitOwnership
--enable numberFormatting
--enable opaqueGenericParameters
--enable preferKeyPath
--enable preferForLoop
--enable propertyTypes
--enable redundantBackticks
--enable redundantBreak
--enable redundantClosure
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantInternal
--enable redundantLet
--enable redundantLetError
--enable redundantNilInit
--enable redundantObjc
--enable redundantOptionalBinding
--enable redundantParens
--enable redundantPattern
--enable redundantProperty
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantStaticSelf
--enable redundantType
--enable redundantTypedThrows
--enable redundantVoidReturnType
--enable semicolons
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable strongifiedSelf
--enable todos
--enable trailingClosures
--enable trailingCommas
--enable trailingSpace
--enable typeSugar
--enable unusedArguments
--enable unusedPrivateDeclarations
--enable void
--enable wrap
--enable wrapArguments
--enable wrapAttributes
--enable wrapConditionalBodies
--enable wrapEnumCases
--enable wrapLoopBodies
--enable wrapMultilineConditionalAssignment
--enable wrapSingleLineComments
--enable wrapSwitchCases
--enable yodaConditions


--disable acronyms
--disable blankLineAfterSwitchCase
--disable blankLinesAroundMark
--disable blockComments
--disable braces
--disable conditionalAssignment
--disable markTypes
--disable organizeDeclarations
--disable sortDeclarations
--disable sortSwitchCases
--disable sortTypealiases
--disable wrapMultilineStatementBraces
